<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Brawndo</title>

    {{!-- favicon information --}}
    <link rel="icon" type="image/png" href="#">

    {{!--lik to materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- link to personal style sheet --}}
    <link rel="stylesheet" href="../../public/assets/css/style.css" />



</head>


<body>
    {{{ body }}}

    {{!-- materialize JS --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- jQuery link --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- personal JS --}}
    <script src="/public/js/brawndo.js"></script>
</body>

</html>