<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Brawndo</title>
    <link rel="icon" type="image/png" href="#">

    {{!-- materialize css info --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- materialize icon info --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- personal style sheet --}}
    <link rel="stylesheet" href="../../public/assets/css/style.css" />



</head>


<body>
    {{{ body }}}

    {{!-- connect to materialize js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {{!-- connect to jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- conect to brawndo JS --}}
    <script src="/public/js/brawndo.js"></script>
</body>

</html>