<div class="container">
    <div class="card">
        <div class="row">
            <form class="col s12" id="add-plant-form">
                <h3 class="center title">Let's add a plant! </h3>
                <div class="row">
                    <br>
                    <div class="input-field col s12 m7">
                        <p for="plantName">Plant Name</p>
                        <input placeholder="EX: Strawberry" id="plantName" type="search" class="validate">

                    </div>
                    <br>
                    <div class="switch center">
                        <label>
                            Indoor
                            <input id="indoorOutdoor" type="checkbox">
                            <span class="lever"></span>
                            Outdoor
                        </label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <p class="col s12 m7">Water Frequency (Days)</p>
                    <p class="range-field col s12 m7">

                        <input type="range" id="waterFrequency" min="0" max="10">
                    </p>
                </div>
                <br>
                <div class="row">
                    <div class="col s12 m7">
                        <p>Last Watered</p>
                        <input type="date" class="datepicker" id="lastWatered">
                    </div>
                </div>

                <div class="center">
                    <button class="btn waves-effect waves-light " id="submit">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
        </div>
    </div>
    </form>
    <script src="/assets/js/brawndo.js"></script>
</div>