<nav>
    <div class="nav-wrapper green darken-1">
        <a href="#" class="brand-logo">Brawndo<i class="material-icons">local_florist</i></a>


        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Indoor</a></li>
            <li><a href="#">Outdoor</a></li>
            <li><a href="#">Edible</a></li>
            <li><a href="#">Inedible</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="card">

        <div class="row">
            <form class="col s12">
                <div class=" title">Create Your New Garden Here! </div>
                <div class="row">
                    <div class="input-field col s12 m5">
                        <input placeholder="EX: Garden 1" id="gardenName" type="text" class="validate">
                        <label for="gardenName">Garden Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="gardenDescript" type="text" class="validate">
                        <label for="gardenDescript">Description</label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light " type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>



        </div>
    </div>
    </form>
</div>

</div>





</div>


<footer class="green darken-1">
    <p class="white-text"> © 2021 Copyright <a href="https://github.com/lukeoxner">Luke Oxner, </a><a
            href="https://github.com/trevvels">Christopher Watkins, </a><a
            href="https://github.com/domihorinka">Dominique
            Horinka, </a><a href="https://github.com/wtekverk">WendyTekverk </a></p>
</footer>