<div class="container">

    <h3 class="center">My Garden</h3>

    {{!-- for each loops here using garden info from table leaving this info for Chis--}}



    <section class="garden">
        {{#each garden}}

        <article class="garden_plant">
            <div class="garden_plant--planttype">
                <h3 class="garden_plant--name">{{this.dataValues.name}} </h3>
                <img src="../assets/img/012-dwarf.svg" class="gnome" alt="gnome">
            </div>
            <div class="garden_plant--subrow">
                <button class="garden_plant--water">
                    <img data-id={{this.dataValues.id}} data-watered="50" data-create={{this.dataValues.createdAt}}
                        data-waterFrequency="3" src="../assets/img/036-drop.svg" alt="waterdroplet">
                </button>
                <div class="garden_plant--location">
                    <img src="../assets/img/{{this.dataValues.outdoorIndoor}}.svg" alt="fence">
                </div>
            </div>
        </article>
        {{/each}}

        <article class="garden_plant">
            <div class="garden_plant--planttype">
                <h3 class="garden_plant--name" style="color: #CBE6EF"> . </h3>
                <button class="garden_plant--add" id="add-plant">+
                </button>
                <img src="../assets/img/012-dwarf.svg" class="gnome" alt="gnome">
            </div>
        </article>
    </section>


</div>



<script src="/assets/js/droplet2.js"></script>
{{!-- drop down --}}