<div class="container">

    <h3 class="center">My Garden</h3>

    {{!-- for each loops here using garden info from table leaving this info for Chis--}}

    
        {{> plants}}
  
    <section class="garden">
        <article class="garden_plant">
            <div class="garden_plant--planttype">
                {{title}}
                <img src="../assets/img/012-dwarf.svg" alt="gnome">
            </div>
            <div class="garden_plant--subrow">
                <div class="garden_plant--water">
                    <img src="../assets/img/036-drop.svg" alt="waterdroplet">
                </div>
                <div class="garden_plant--location">
                    <img src="../assets/img/029-fence.svg" alt="fence">
                </div>
            </div>
        </article>
    </section>



    


    <script src="/assets/js/droplet.js"></script>
    {{!-- drop down --}}