
<div class="container">

    <h3 class="center">{{gardenName}}</h3>

    {{!-- for each loops here using garden info from table leaving this info for Chis--}}

    <article class="garden_plant">
                <div class="garden_plant--planttype">type</div>
                <div class="garden_plant--subrow">
                    <div class="garden_plant--water">
                        <img src="../assets/img/036-drop.svg" alt="waterdroplet">
                    </div>
                    <div class="garden_plant--location">location</div>
                </div>
        </ul>    </article>
    {{!-- drop down --}}



